footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCCCCC;
  }
  
  footer p {
    margin: 0;
    text-align: center;
  }