footer {
    background-color: #FFFFFF;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    margin: 0;
    text-align: center;
  }