header{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
}